.logo{
    width: auto;
    height: auto;
    max-width: 35px ;
    max-height: 35px;
}

nav{
    padding-left: 30px !important;
    background-color: #131313;
    
}

/* Espacio entre los enlaces centrados */
.navbar-nav .nav-link {
    margin-right: 30px; /* Espacio entre los enlaces */
  }
  
  /* Eliminar margen derecho en el último enlace de la parte central */
  .navbar-nav .nav-link:last-child {
    margin-right: 0;
  }
  
  /* Espacio entre los enlaces de la derecha */
  .ms-auto .nav-link {
    margin-left: 0px; /* Espacio entre los enlaces a la derecha */
  }
  
.nav-link{
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover{
    color: #ff00f2 !important;
}



main{
    background-color: #1e1e1e;
    color: aliceblue;
    padding-top: 70px !important;
}

.carousel-inner{    
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 10% !important;
    width: 90%;
}

.carousel-item img {
    width: 100%; /* Ocupa todo el ancho del carrusel */
    height: 500px; /* Altura fija del carrusel */
    object-fit: cover; /* Recorta la imagen para que se ajuste al tamaño */
}

img.carritosvg {
    filter: brightness(0) invert(1);
    width: 30px;  /* Ancho deseado */
    height: 30px; /* Alto deseado */
  }

  img.carritosvg:hover  {
    filter: brightness(80) invert(0) sepia(0) saturate(10000%) hue-rotate(100deg) !important; /* Aproximación al color #ff00f2 */
  }

.bg-primary {
    background-color: #282727 !important; /* Reemplaza #123456 con tu color hexadecimal */
    height: 500px !important;

  }


.bg-success{
    background-color: #1e1e1e !important; /* Reemplaza #123456 con tu color hexadecimal */
    flex-wrap: wrap;
    
}


table{
    border: #ffffff;
    border-color: #ffffff;
    border-bottom: #ffffff;
    border-radius: 100px;
}

.table-responsive-md{
    justify-content: center;
    justify-items: center;
}

td,th{
    padding: 100px 150px 100px 150px;
}

.formLogIn{
    margin: 10px 40px 0px 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    background-color: #1e1e1e ;
}

input:focus{
    background-color: #ffc3fc !important;
}

h1{
    text-align: center;
    color: #ff7df9 !important;
}



.imgGrid {
    justify-content: center;
    align-items: center;
    margin: 10px 25px 0px 25px;
    display: grid;
    grid-template-columns: repeat(3, 3fr); /* 3 columnas de igual tamaño */
    gap: 65px; /* Espacio entre columnas y filas */
}

.producto{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 10px 10px 10px;
    transition: 1;
    border: 1px solid #ccc;
    background-color: #282727;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.producto:hover{
    background-color: #e35d9c;
    color: #131313;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.imagen{
    display: block;
    margin: auto;
    max-width: 200px; /* Ancho máximo */
    max-height: 200px; /* Altura máxima */
    width: auto;
    height: auto;
}


.producto-card {
    width: 80%;
    margin-top: 20px;
    display: none; /* Oculta las tarjetas por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color:#1e1e1e;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    z-index: 1000;
}

.producto-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1e1e1e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.imagen_card{
    max-width: 300px; /* Ancho máximo */
    max-height: 400px; /* Altura máxima */
    width: auto;
    height: auto;
}
.producto-card button:hover {
    background-color: #ff7df9;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.logoClose{
    background-color: transparent !important;
    margin-bottom: 20px;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los items al centro verticalmente */
}
.cardTop{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los items al centro verticalmente */
}
.informacion  {
    padding: 10px 10px 10px 10px;
    background-color: #282727 !important;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0px 15px 0px 15px;
}